@model List<Bartender.Models.Order>

<div class="container">
    <h2>Staff Portal</h2>
</div>

<section class="container">

    <table class="table-primary">
        <tr>
            <th>Order ID</th>
            <th>Customer Username</th>
            <th>Item</th>
            <th>Price</th>
        </tr>
        @foreach (var x in Model)
        {
            <tr>
                <td>@x.OrderID</td>
                <td>@x.Username</td>
                <td>@x.Item</td>
                <td>@x.Price</td>
                <td>
                    <div class="options">
                        <!-- ADD A "ORDER READY" BUTTON which removes the order from the list, THIS IS A DUMMY PLACEHOLDER -->
                        @Html.ActionLink("Order Ready", "Index", "Home", null, new { @class = "btn btn-outline-dark m-2" })

                    </div>
                </td>
            </tr>
        }
    </table>

</section>
