@model List<Bartender.Models.Order>

<div class="container">
    <h2>Staff Portal</h2>
</div>

<section class="container">

    @if (Model.Count <= 0)
    {
        <div class="alert alert-info" role="alert">
            No orders found.
        </div>
    }

    @Html.ActionLink("Create New Drink", "CreateDrink", "Staff", null, new { @class = "btn btn-success m-3" })


    @if (Model.Count > 0)
    {
        <table class="table-primary">
            <tr>
                <th>Order ID</th>
                <th>Customer Username</th>
                <th>Item</th>
                <th>Price</th>
            </tr>

            @foreach (var x in Model)
            {
                <tr>
                    <td>@x.OrderID</td>
                    <td>@x.Username</td>
                    <td>@x.Item</td>
                    <td>@x.Price</td>
                    <td>
                        <div class="options">

                            <form method="post">
                                <button type="submit" asp-action="OrderReady" asp-route-id="@x.OrderID" class="btn btn-success m-2">Order Ready</button>
                            </form>

                        </div>
                    </td>
                </tr>
            }
        </table>
    }


</section>
